<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
<title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by your name :v <br> It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="/img/594568.jpg">
    <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>
</html>