<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
    {{>header}}

    <p>help message</p>
    </div>
    {{>footer}}
</body>

</html>